<section class="mx-auto max-w-6xl {{ class }}">
    <div
        class="flex items-center gap-8 {{ if image && image_position == 'right' }}flex-row-reverse{{ /if }}"
    >
        {{ if image }}
            <div class="w-full">
                {{ image }}
                    <img
                        src="{{ url }}"
                        alt="{{ alt ?? title ?? '' }}"
                        class="block"
                    />
                {{ /image }}
            </div>
        {{ /if }}
        <div class="flex-1 min-w-0">
            {{ content }}
        </div>
    </div>
</section>
