<div
    x-data="{ open: false, hovered: false }"
    x-on:click.outside="open = false"
    x-on:mouseenter="hovered = true"
    x-on:mouseleave="hovered = false"
    class="group relative block shrink-0 text-[#757575]"
>
    <button
        type="button"
        x-on:click="open = !open"
        x-bind:aria-expanded="open.toString()"
        class="flex cursor-pointer items-center gap-2 rounded-full border border-stone-200 bg-white px-4 py-2 text-xs font-semibold uppercase tracking-[0.18em] text-stone-800 transition group-hover:text-stone-950"
    >
        <span>{{ site:lang | upper }}</span>
        <span
            x-bind:class="open ? 'rotate-180' : ''"
            class="flex transform transition duration-150 group-hover:rotate-180"
        >
            {{ svg src="icons/chevron-down" class="size-5" }}
        </span>
    </button>

    <div
        x-cloak
        x-show="open || hovered"
        x-transition.origin.top.right.duration.150ms
        class="absolute right-0 top-full z-30 pt-2"
    >
        <div
            class="min-w-full rounded-xl bg-white p-2 shadow-lg ring-1 ring-black/5"
        >
            {{ locales sort="locale:lang:asc" current_first="false" }}
                {{ unless is_current }}
                    <a
                        href="{{ permalink }}"
                        class="block rounded-lg px-3 py-2 text-xs font-semibold uppercase tracking-[0.18em] text-stone-500 transition hover:bg-stone-50 hover:text-stone-900"
                    >
                        {{ locale:lang | upper }}
                    </a>
                {{ /unless }}
            {{ /locales }}
        </div>
    </div>
</div>
