root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[compose.yaml]
indent_size = 4

[*.antlers.html]
ij_html_attribute_wrap = normal
ij_html_new_line_before_first_attribute = never
ij_html_new_line_after_last_attribute = never
