<section class="mx-auto max-w-6xl px-6 py-16 sm:px-8 lg:px-10">
    <div class="flex flex-wrap justify-center gap-8">
        {{ cards }}
            <div
                class="w-full sm:max-w-xl {{ if expected_per_row == '2' }}xl:basis-[calc(50%-1rem)] xl:max-w-[calc(50%-1rem)]{{ elseif expected_per_row == '4' }}md:basis-[calc(50%-1rem)] md:max-w-[calc(50%-1rem)] xl:basis-[calc(25%-1.5rem)] xl:max-w-[calc(25%-1.5rem)]{{ else }}md:basis-[calc(50%-1rem)] md:max-w-[calc(50%-1rem)] xl:basis-[calc(33.333%-1.34rem)] xl:max-w-[calc(33.333%-1.34rem)]{{ /if }}"
            >
                {{ partial:landing_pages/blocks/highlight_card/item }}
            </div>
        {{ /cards }}
    </div>
</section>
